{#=== INIT ===========================================================================================================#}

{# We set the 'format' for the rendering of each <option>. With fallback to a sensible default. #}
{% set format = relation.format|default("{{ item.title|escape }} (№ {{ item.id }})") %}

{# Use option groups #}
{% set groupby = relation.groupby|default(false) %}

{# Currently selected relationship values #}
{% set values = context.content.relation.getField(relcontenttype, true, context.contenttype.slug, context.content.id)|default([]) %}
{% set relselect = [] %}
{% for item in values %}
    {# We use item.toid instead of item.to_id here to make sure that inversed relations are picked up correctly #}
    {% set relselect =  relselect|merge([item.toid]) %}
{% endfor %}

{# Build the select options array #}
{% set options = [] %}

{% for item in context.relations_list[relcontenttype] %}
    {% set selectedbyrelation = relcontenttype == app.request.get('relation') and
                                item.id == app.request.get('relationid') %}

    {% set options = options|merge([{
        value:    item.id,
        text:     include(template_from_string(format), variables = {'item' : item, 'title' : item.title, 'id' : item.id}, sandboxed = true),
        group:    groupby ? item.values[groupby]|default(false) : false,
        selected: (item.id in relselect) or selectedbyrelation,
    }]) %}
{% endfor %}

{# BUIC options #}
{% set buic_opt_select = {
    'name':     'relation[' ~ relcontenttype ~ '][]',
    'id':       'relation-' ~ relcontenttype,
    'multiple': relation.multiple is defined and relation.multiple == 1,
    'options':  options,
    'clear':    true,
} %}

{#=== FIELDSET =======================================================================================================#}

{% extends '@bolt/_base/_fieldset.twig' %}

{% block fieldset_type 'relationship' %}
{% block fieldset_widget 'fieldRelationship' %}

{% block fieldset_label_text  relation.label|default(relcontenttype|ucfirst) %}
{% block fieldset_label_class 'col-sm-4' %}

{% block fieldset_controls %}
    {% from '@bolt/_buic/_select.twig' import buic_select %}

    <div class="col-sm-8">
        {{ buic_select(buic_opt_select) }}
    </div>
{% endblock fieldset_controls %}
