<div class="repeater-group row panel panel-default">
    <div class="panel-heading text-right">
        <div class="btn-group">
            <button type="button" class="btn btn-sm btn-default move-up">
                <i class="fa fa-arrow-up"></i> {{ __('general.phrase.move-up') }}
            </button>
            <button type="button" class="btn btn-sm btn-default  move-down">
                <i class="fa fa-arrow-down"></i> {{ __('general.phrase.move-down') }}
            </button>
            <button type="button" class="btn btn-sm btn-default duplicate-button">
                <i class="fa fa-copy"></i> {{ __('general.phrase.duplicate-set') }}
            </button>
            <button type="button" class="btn btn-sm btn-silent-danger delete-button">
                <i class="fa fa-trash"></i> {{ __('general.phrase.delete-set') }}
            </button>
        </div>
    </div>

    <div class="panel-body">
        {% set defaults = {
            class:      '',
            label:      '',
            variant:    '',
            default:    null
        } %}
        {% for rkey, rfield in field.fields %}
            {% set rfield = defaults|merge(rfield) %}
            {% set rcontext = {
                'key':        name ~ '_' ~ index ~ '_' ~ rkey,
                'name':       name ~ '[' ~ index ~ '][' ~ rkey ~ ']',
                'contentkey': rkey,
                'field':      rfield,
                'labelkey':   rfield.label|default(rkey|ucfirst),
                'context': {
                    'content':  content,
                    'can':      context.can,
                }
            } %}
            <div class="repeater-field" data-bolt-fieldset="{{ rfield.type }}">
                {# Prefix #}
                {% if rcontext.field.prefix is defined and rcontext.field.prefix is not empty %}
                    <div class="prefix">
                        {{ rcontext.field.prefix|markdown }}
                    </div>
                {% endif %}

                {{ include(context.fields[rfield.type].template, rcontext) }}

                {# Postfix #}
                {% if rcontext.field.postfix is defined and rcontext.field.postfix is not empty %}
                    <div class="postfix">
                        {{ rcontext.field.postfix|markdown }}
                    </div>
                {% endif %}

                {# Divider #}
                {% if rcontext.field.separator is defined and rcontext.field.separator == true %}
                    <hr>
                {% endif %}
            </div>
        {% endfor %}
    </div>
</div>
