{##
 # HTML page template for pages with navigation
 #
 # Blocks: page_nav:      Navigation path, like: "Dashboard", "Settings/Configuration", "Content/*", ...
 #         page_main:     content
 #         page_title:    used as html title
 #         page_subtitle: used as html title (optional)
 #         page_script:   script added after the body tag (script tags needed!)
 #}
{% extends '@bolt/_base/_page.twig' %}

{% set page_bodyclass = '' %}

{% set page_hasnav = true %}

{% set page_nav = block('page_nav') is defined ? block('page_nav') : 'NO NAV' %}

{% block page_plain %}
    {{ data('omnisearch.placeholder', __('general.phrase.find')) }}

    <div id="navpage-wrapper"{% if app.request.cookies.get('sidebar') %} class="nav-secondary-collapsed nav-secondary-collapsed-hoverable"{% endif %}>
        <nav id="navpage-primary" class="navbar navbar-static-top navbar-inverse navbar-bolt">
            <div class="container-fluid">
                {{ include('@bolt/_nav/_primary.twig') }}
            </div>
        </nav>

        <nav id="navpage-secondary" class="navbar-default navbar-static-side">
            {{ include('@bolt/_nav/_secondary.twig') }}
        </nav>

        <div id="navpage-content" class="container-fluid">
            <div class="row">
                <div class="col-xs-12">
                    <h1 class="page-header">
                        {% if block('page_subtitle') is defined %}
                            <strong>{{ block('page_title') }} »</strong>
                            <i style="font-style: normal;">{{ block('page_subtitle') }}</i>
                        {% else %}
                            <strong>{{ block('page_title') }}</strong>
                        {% endif %}

                        {# optional "showing 1-X of Y" for overview pages. #}
                        {% if pager is defined %}
                            {% set pager_ct = pager[context.contenttype.slug] %}
                            {% if pager_ct and pager_ct.totalpages > 1 %}
                                <span>
                                    {{ __('general.phrase.showing') }} {{ pager_ct.showing_from }} -
                                    {{ pager_ct.showing_to }} {{ __('general.phrase.of') }} {{ pager_ct.count }}
                                </span>
                            {% endif %}
                        {% endif %}

                    </h1>
                </div>
            </div>

            {{ widgets('below_header', 'backend') }}

            {% block messages %}
                {{ include('@bolt/_sub/_messages.twig', {'wrapper': true}) }}
            {% endblock messages %}

            {% block page_main %}[PAGE_MAIN]{% endblock page_main %}

            {{ widgets('footer', 'backend') }}

        </div>

        {% block page_main_extra_content %}
        {% endblock %}

    </div>

    {# Note: We include the footer here, because of z-index issues otherwise. #}
    {{ include('@bolt/_nav/_footer.twig') }}

{% endblock page_plain %}
