<h2>Stack trace</h2>

<table class="table table-striped table-hover table-condensed">
    {% for t in exception.trace %}
        <tr>
            <th># {{ loop.index }} </th>
            <td>
                {% if t.class is defined %}
                    {{ t.class|default()|split("\\")[0:-1]|join("\\") -}}\<strong>{{- t.class|default()|split("\\")|last|excerpt(32) -}}</strong>::
                {%- endif -%}
                {{ t.function|default() }}(

                {%- if t.args_safe is not empty -%}
                    {% set index = loop.index %}
                    {%- for arg in t.args_safe -%}
                        <tt><a href="" data-index="{{index}}">{{ arg|raw }}</a></tt>{% if not loop.last %}, {% endif %}
                    {%- endfor -%}
                {%- endif -%}
                )
                <br>

                {% if t.file|default() %}
                    <em class='dim'>{{ t.file|default() }} # line <strong>{{ t.line|default() }}</strong></em>
                {% endif %}

                {% if t.args_safe is not empty %}
                    <div id='trace-arguments-{{loop.index}}' style="display: none;">
                        <em>(Arguments are loading)</em>
                    </div>
                {% endif %}
            </td>
        </tr>
    {% endfor %}
</table>
