<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0">

    <title>Uncaught Exception: {{ exception.class_name|default('unknown') }}</title>

    <link rel="stylesheet" href="{{ asset('css/bolt.css', 'bolt') }}">
    {% if debug and exception.snippet %}
        <link rel="stylesheet" href="{{ asset('css/bolt_exception.css', 'bolt') }}">
        <script src="{{ asset('js/jquery-2.2.4.min.js', 'bolt') }}" defer></script>
        <script src="{{ asset('js/bolt_exception.js', 'bolt') }}" defer></script>
    {% endif %}
</head>

<body class="login exception">

    {% block page_plain %}
    <div class="container">

        <div class="row">
            <div class="{{ form_class|default('col-md-10 col-md-offset-1 col-sm-12') }}">

                <img src="{{ asset('img/bolt-logo.png', 'bolt') }}" width="100" height="41" alt="Bolt" class="logo">

                <div class="panel panel-default">
                    <div class="panel-body">
                        {% block page_main %}
                        <div class="row">
                            {# Note: Do not translate / localise this, because people _will_ google for this. #}

                            {% block title %}
                                <h1>Uncaught Exception
                                    {%- if debug -%}
                                        : {{ exception.class_name|default('unknown') }}
                                    {% endif %}.
                                </h1>
                            {% endblock title %}

                            {% block exception %}
                            {% endblock exception %}

                            {% if debug %}
                                <p class='exception'>
                                    <tt><abbr title="{{ exception.class_fqn|default('unknown') }}">{{ exception.class_name|default('unknown') }}</abbr></tt> in <tt><abbr title="{{ exception.file_path|default('unknown') }}">
                                    {{- exception.file_name|default('unknown') }}</abbr></tt> line <tt>
                                    {{- exception.object.line|default('unknown') }}</tt>: <br>
                                    <em><strong>{{ exception.object.message|default('unknown')|nl2br }}</strong></em>
                                </p>

                                {% if exception.snippet -%}
    <pre class='line-numbers' data-start='{{ max(exception.object.line - 5, 1) }}' data-line='6'><code class='language-php'>
    {{- exception.snippet -}}
    </code></pre>
                                {%- endif %}

                                <p class='exception'>
                                    {# Based on this classic tweet: https://twitter.com/divineomega/status/695744177557106688 #}
                                    {% set query = 'Bolt ' ~ exception.class_name|default('unknown') ~ ' in ' ~ exception.file_name|default('unknown') ~ ' line ' ~ exception.object.line|default('unknown') ~ ': ' ~ exception.object.message|default('unknown') %}
                                    <a class='btn btn-default' href='https://www.google.com/search?q={{ query|url_encode }}' target='_blank'>Google this Exception</a>
                                </p>
                            {% endif %}

                            {% block trace %}
                                {% if debug %}
                                    {{ include('@bolt/exception/_trace.twig') }}
                                {% endif %}
                            {% endblock trace %}

                            <hr>

                            {% block request %}
                                {% if debug and request is defined %}
                                    <hr>
                                    {{ include('@bolt/exception/_request.twig') }}
                                {% endif %}
                            {% endblock request %}

                            {% if not debug %}
                                <p>Debug is not available, and/or you are not logged on. To see a full backtrace of the
                                    Exception, do one of the following: </p>

                                <ul>
                                    <li>Set <tt>debug: true</tt> in <tt>config.yml</tt>, and make sure you're logged in
                                        to the Bolt Backend.</li>
                                    <li>Set both <tt>debug: true</tt> and <tt>debug_show_loggedoff: true</tt> in
                                        <tt>config.yml</tt>.
                                </ul>
                            {% endif %}

                        </div>
                        {% endblock page_main %}
                    </div>
                </div>

            </div>
        </div>
    </div>
    {% endblock page_plain %}

</body>
</html>

{% block tracedumps %}
    {% if debug %}
        {{ include('@bolt/exception/_tracedumps.twig') }}
    {% endif %}
{% endblock tracedumps %}
