{# Page: NavSecondary > Configuration > Main configuration | ContentTypes | Taxonomy | ... #}

{% extends '@bolt/_base/_page-nav.twig' %}

{% block page_nav 'Settings/Configuration' %}

{% block page_title context.write_allowed ? __('page.edit-file.title.edit') : __('page.edit-file.title.view') %}

{% block page_main %}

    {% import '@bolt/_macro/_macro.twig' as macro %}
    {% from '@bolt/_buic/_moment.twig' import buic_moment %}
    {% from '@bolt/_macro/_files_path.twig' import files_path %}

    {{ data('editcontent.msg', {
        'change_quit': __('general.phrase.warning-unfinished-changes-loss'),
        'saving':      __('general.phrase.saving-ellipsis')
    }) }}

    {% set attr_text = {
        _bind:     ['editfile', {readonly: context.write_allowed ? false : true}],
        class:     'CodeMirror-scroll',
        id:        'form_contents',
        name:      'form[contents]',
        required:  false,
        style:     'width: 98%; min-height: 350px; white-space: pre; word-wrap: normal; overflow-x: scroll;',
    } %}

    <div class="row">
        <div class="col-xs-12">

            {{ files_path(context.file) }}

            {{ widgets('editfile_below_header', 'backend') }}

            {# Ths "editfile" ID is being used by JavaScript … somewhere #}
            {{ form_start(context.form, {'attr': {'id': 'editfile', 'class': 'form-inline', 'autocomplete': 'off'}}) }}
                {{ form_widget(context.form._token) }}

                <div>
                    {{ form_widget(context.form.contents,
                        {
                            'class': 'CodeMirror-scroll',
                            'attr': {
                                'data-bind': {'bind': 'editfile', readonly: context.write_allowed ? false : true}|json_encode,
                                'style': 'width: 98%; min-height: 350px; white-space: pre; word-wrap: normal; overflow-x: scroll;'
                            }
                        })
                    }}
                </div>

                <div>
                    <button type="button" id="saveeditfile" class="btn btn-primary" {% if not context.write_allowed %}disabled{% endif %}>
                        <i class="fa fa-flag"></i> {{ __('page.edit-file.button.save') }}
                    </button>
                    <a class="btn btn-default confirm {% if not context.write_allowed %}disabled{% endif %}" style="margin-left: 24px;"
                       data-confirm="{{ __("page.edit-file.confirm-revert") }}"
                       href="{{ path('fileedit', {'namespace': context.file.mountPoint, 'file': context.file.path}) }}"
                    >
                        <i class="fa fa-undo"></i> {{ __("page.edit-file.button.revert") }}
                    </a>

                  <div class="relatedfiles">
                    {% if context.related|length > 1 %}
                      {{ __("page.edit-file.note-related") }}
                      {% for file in context.related %}
                          <a class="btn btn-tertiary btn-small" href="{{ path('fileedit', {'namespace': file.mountPoint, 'file': file.path}) }}">{{ file.filename }}</a>
                      {% endfor %}
                    {% endif %}
                  </div>
                </div>

            <p class="lastsaved" style="padding-top: 12px;">
                {{ __('general.phrase.saved-on-colon') }}
                <strong>{{ context.datechanged|localedatetime("%c") }}</strong>
                ({{ buic_moment(context.datechanged) }})
            </p>

            {{ form_end(context.form) }}

            {{ widgets('editfile_bottom', 'backend') }}

        </div>
    </div>

    {# use the files includes in ckeditor/codemirror plugin, instead of duplicating files. #}
    <link rel="stylesheet" property="stylesheet" href="{{ asset('js/ckeditor/plugins/codemirror/css/codemirror.min.css', 'bolt') }}">
    <script src="{{ asset('js/ckeditor/ckeditor.js', 'bolt') }}"></script>
    <script src="{{ asset('js/ckeditor/plugins/codemirror/js/codemirror.min.js', 'bolt') }}"></script>
    <script src="{{ asset('js/ckeditor/plugins/codemirror/js/codemirror.addons.search.min.js', 'bolt') }}"></script>
    {% for file in context.codeMirrorPlugins %}
        <script src="{{ asset('js/ckeditor/plugins/codemirror/plugins/' ~ file ~ '.min.js', 'bolt') }}"></script>
    {% endfor %}

{% endblock page_main %}
